<div class="flex mt-5 flex-col md:flex-row md:space-x-4">
    <div class="w-full mb-4 md:w-56">

        <button class="bg-blue-500 text-while px-4 py-2 rounded-md"
            (click)="reloadCategories()"> Reload categories
        </button>
        <button class="bg-blue-500 text-while px-4 py-2 rounded-md"
            (click)="resetCategories()"> Reset categories
        </button>
        <p>Estado: {{ categoriesResources.isLoading()}}</p>
        <ul class="text-center md:text-left">
            <li>
                <a routerLink="/">All</a>
            </li>
            @for (category of categoriesResources.value(); track category) {
  <li>
    <a routerLink="/category/{{category.slug}}">{{ category.name }}</a>
    <!--[routerLink]="['/category',category.slug]" Es lo mismo-->
            </li>
}
        </ul>
    </div>
    <div class="grid grid-cols-2 gap-8 w-full md:grid-cols-4">
        @for (product of products(); let i=$index; track product) {
  <app-product

            [isPriority]="false"
            [product]="product"
            (addToCart)="addToCart($event)" />
}
    </div>

</div>
